# Core dependencies
Flask==1.1.4
Werkzeug==0.16.1
gunicorn==19.10.0
requests==2.22.0
eventlet>=0.24.1

# Utilities
python-dotenv==0.13.0
logging>=0.4.9.6

# Install gsmmodem manually:
# git clone https://github.com/faucamp/python-gsmmodem.git
# cd python-gsmmodem
# pip install .